.MuiLinearProgress-root {
    margin-top: 16px;
    margin-bottom: -16px;
    margin-left: -16px;
    margin-right: -16px;
}

#downshift-multiple-input-helper-text {
    background-color: #ebecf0 !important;
    margin: 0;
    width: 100%;
}

#addInputArea>div {
    flex-grow: 1;
}