<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.taskcircle.mapper.TodoListMapper">

    <select id="findByUserUuid" resultType="TodoList">
        SELECT * FROM todo_lists
        WHERE user_uuid = #{userUuid}
    </select>

    <insert id="create">
        INSERT INTO todo_lists(
            user_uuid, updated_at)
            VALUES(
                #{userUuid}, '2020-01-01 00:00:00'
            )
    </insert>

    <update id="update" parameterType="TodoList">
        UPDATE todo_lists SET
        todo_list = #{todoList}
        WHERE user_uuid = #{userUuid}
    </update>

</mapper>