<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.taskcircle.mapper.SessionMapper">

    <select id="findAll" resultType="Session">
        SELECT session_id, user_name, session_type, content, is_timer_on, started_at, finish_at, created_at, updated_at FROM sessions
    </select>

    <insert id="create" parameterType="Session">
        INSERT INTO sessions(
            session_id, user_name, session_type, content, is_timer_on, started_at, finish_at)
            VALUES(
                #{sessionId}, #{userName}, #{sessionType}, #{content}, #{isTimerOn}, #{startedAt}, #{finishAt}
            )
    </insert>

    <update id="update" parameterType="Session">
        UPDATE sessions SET
        user_name = #{userName},
        session_type = #{sessionType},
        content = #{content},
        is_timer_on = #{isTimerOn},
        started_at = #{startedAt},
        finish_at = #{finishAt}
        WHERE session_id = #{sessionId}
    </update>

    <delete id="delete" parameterType="Session">
        DELETE FROM sessions
        WHERE session_id = #{sessionId}
    </delete>

    <delete id="deleteAll">
        DELETE FROM sessions
    </delete>

</mapper>