<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.taskcircle.mapper.SettingMapper">

    <select id="findByUserUuid" resultType="Setting">
        SELECT * FROM settings
        WHERE user_uuid = #{userUuid}
    </select>

    <insert id="create">
        INSERT INTO settings(
            user_uuid, updated_at)
            VALUES(
                #{userUuid}, '2020-01-01 00:00:00'
            )
    </insert>

    <update id="update" parameterType="Setting">
        UPDATE settings SET
        setting = #{setting}
        WHERE user_uuid = #{userUuid}
    </update>

</mapper>