#filePopover .MuiPopover-paper {
    min-width: 200px;
    width: 20rem;
    max-width: 360px;
    padding: 1rem;
    right: 1rem;
    position: absolute !important;
}

.MuiDropzoneArea-root {
    min-height: fit-content !important;
}

.MuiDropzoneArea-text {
    font-size: 1rem !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}