#acountPopover>.MuiPopover-paper {
    min-width: 200px;
    width: 20rem;
    max-width: 360px;
    position: absolute;
    padding: 1rem;
}

#linkToPrivacy {
    text-decoration: none;
    color: #2ab8d9;
}

#linkToPrivacy:hover {
    text-decoration: underline;
}